---
- name: Bring up MySQL and run Flyway migrations
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    mysql_container_name: a4-mysql-dhruv
    mysql_image: mysql:8
    mysql_root_password: "DhruvPass!9062297"
    mysql_database: subscriptions_dhruv
    flyway_local_dir: "{{ playbook_dir }}/../flyway"
    docker_network_name: a4_default   # <-- replace with your actual Docker network if different

  tasks:
    - name: Pull MySQL Docker image
      ansible.builtin.command: docker pull {{ mysql_image }}

    - name: Run MySQL container
      ansible.builtin.command: >
        docker run -d
        --name {{ mysql_container_name }}
        --network {{ docker_network_name }}
        -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
        -e MYSQL_DATABASE={{ mysql_database }}
        -p 3307:3306
        {{ mysql_image }}

    - name: Wait for MySQL to be ready
      ansible.builtin.wait_for:
        host: 127.0.0.1
        port: 3307
        delay: 5
        timeout: 60

    - name: Pull Flyway Docker image
      ansible.builtin.command: docker pull flyway/flyway:10

    - name: Run Flyway initial migrations using Docker CLI
      ansible.builtin.command: >
        docker run --rm
        -v {{ flyway_local_dir }}:/flyway
        --network {{ docker_network_name }}
        flyway/flyway:10
        -url=jdbc:mysql://{{ mysql_container_name }}:3306/{{ mysql_database }}
        -user=root
        -password={{ mysql_root_password }}
        -locations=filesystem:/flyway/migrations_initial
        migrate
