---
- name: Bring up MySQL and run Flyway migrations
  hosts: localhost
  connection: local
  tasks:
    - name: Run MySQL container
      community.docker.docker_container:
        name: mysql_dhruv
        image: mysql:8
        state: started
        restart_policy: always
        ports:
          - "3307:3306"
        env:
          MYSQL_ROOT_PASSWORD: "DhruvPass!9062297"
          MYSQL_DATABASE: "subscriptions_dhruv"
        volumes:
          - "{{ playbook_dir }}/../mysql_data:/var/lib/mysql"
      register: mysql_container

    - name: Wait for MySQL to be ready
      ansible.builtin.wait_for:
        host: "127.0.0.1"
        port: 3307
        delay: 10
        timeout: 60

    - name: Run Flyway initial migrations using Docker CLI
      ansible.builtin.command: >
          docker run --rm
          -v {{ playbook_dir }}/../flyway:/flyway
          --network bridge
          flyway/flyway:10
          -url=jdbc:mysql://host.docker.internal:3307/subscriptions_dhruv
          -user=root
          -password=DhruvPass!9062297
          -locations=filesystem:/flyway/migrations_initial
          migrate
      register: flyway_output
      ignore_errors: false

    - name: Show Flyway output
      ansible.builtin.debug:
        var: flyway_output.stdout
