---
- name: Bring up MySQL and run Flyway migrations
  hosts: localhost
  connection: local
  tasks:

    - name: Run MySQL container using Docker CLI
      ansible.builtin.command: >
        docker run -d --name mysql_dhruv
        -e MYSQL_ROOT_PASSWORD=DhruvPass!9062297
        -e MYSQL_DATABASE=subscriptions_dhruv
        -p 3307:3306
        mysql:8
      ignore_errors: yes

    - name: Wait for MySQL to be ready
      ansible.builtin.wait_for:
        host: "127.0.0.1"
        port: 3307
        delay: 10
        timeout: 60

    - name: Run Flyway initial migrations using Docker CLI
      ansible.builtin.command: >
        docker run --rm
        -v {{ playbook_dir }}/../flyway:/flyway
        --network host
        flyway/flyway:10
        -url=jdbc:mysql://localhost:3307/subscriptions_dhruv
        -user=root
        -password=DhruvPass!9062297
        -locations=filesystem:/flyway/migrations_initial
        migrate
      args:
        chdir: "{{ playbook_dir }}"
